{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "arrowParens": "avoid",
  "printWidth": 100,
  "useTabs": false,
  "jsxBracketSameLine": false,
  "proseWrap": "always",
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "tabWidth": 2
}
